body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#navigation-text{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #A2E3C4;
  font-size: 16pt;
}

#home-header{
  font-size:60px;
}

#home-subheader{
  font-size:30px;
}

#home-div{
  margin:auto;
}


#home-accordion{
  width:300px;
}

.font{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.square-box{
  max-width: 600px;
  min-height: 600px;
 
}

.grid-square {
  
  border-style: solid;
  width: var(--tile-size);
  height: var(--tile-size);
  border-width: var(--border-width);
  border-left-color: var(--border-left-color);
  border-top-color: var(--border-top-color);
  border-right-color: var(--border-right-color);
  border-bottom-color: var(--border-bottom-color);
}

#covered{
  background-color: black;
}

:root {
  

 
  --border-left-color: #958b4a;
  --border-top-color: #cbc076;
  --border-right-color:  #AFC97E;
  --border-bottom-color: #7b8e57;


  --cols: 10;
  --rows: 18;
  --tile-size: 100px;
  --border-width: 3px;
}

* {
  box-sizing: border-box;
}

.grid-board {
  
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  grid-gap: 0;
  align-self: flex-start;
  width:450px;
  margin:0;
}

.grid-gone{
  width:450px;
  margin:0;
}


#board-pos{
  width:400px;
}

/* #meme-card {
  width:400px;
  height:400px;
  object-fit: cover;
  /* position:relative; */
  /* position:fixed */


/* .grid-board{ */
  /* position: absolute; */
  /* top:100px;
  left:700px;
} */

.button-slide {
  color: #FFF;
  border: 4px solid #2978A0;
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #8BD7D2;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide-left:hover {
  box-shadow: inset 0 0 0 50px #8BD7D2;
}

#outer {
  width: 364px;
  left: 100px;
  margin: 2px auto 0 auto;
  text-align: center;
}

.answer-box{

  margin-top: 10px;
  
}

.reveal{
  background-color: #A1FCDF;
  text-align: center;
  width: 75px;
  height: 75px;
  border: none;
  color: #8C2155;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:20px;
  font-size: 16px;
  font-weight: bold;
  margin: 15px ;
  border-radius: 50%;
  
}

.table {
  background-color: #AF7595;
}