body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#navigation-text{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #A2E3C4;
  font-size: 16pt;
}

#home-header{
  font-size:60px;
}

#home-subheader{
  font-size:30px;
}

#home-div{
  margin:auto;
}

#home-accordion{
  width:300px;
}

.font{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.square-box{
  max-width: 600px;
  min-height: 600px;
 
}

.grid-square {
  background-color: black;
  border-style: solid;
  width: var(--tile-size);
  height: var(--tile-size);
  border-width: var(--border-width);
  border-left-color: var(--border-left-color);
  border-top-color: var(--border-top-color);
  border-right-color: var(--border-right-color);
  border-bottom-color: var(--border-bottom-color);
}

:root {
  

 
  --border-left-color: #958b4a;
  --border-top-color: #cbc076;
  --border-right-color:  #AFC97E;
  --border-bottom-color: #7b8e57;

  /* Square Colors:  background colors for the squares.
  --color-0: #eaeaea;
  --color-1: #ff6600;
  --color-2: #eec900;
  --color-3: #0000ff;
  --color-4: #cc00ff;
  --color-5: #00ff00;
  --color-6: #66ccff;
  --color-7: #ff0000; */

 

  /* Numbers define values that will be used throughout the CSS.
  --tile-size: 20px for example will set size of the grid squares. */
  --cols: 10;
  --rows: 18;
  --tile-size: 100px;
  --border-width: 5px;
}

* {
  box-sizing: border-box;
}

.grid-board {
  
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  grid-gap: 0;
  align-self: flex-start;
  width:450px;
  margin:0;
}


#board-pos{
  width:400px;
}

/* #meme-card {
  width:400px;
  height:400px;
  object-fit: cover;
  /* position:relative; */
  /* position:fixed */


/* .grid-board{ */
  /* position: absolute; */
  /* top:100px;
  left:700px;
} */